.button {
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--color-indigo-500);
  box-shadow: var(--shadow-pr-btn);
  transition: background-color var(--base-transition);
}
.button:hover {
  cursor: pointer;
  background-color: var(--color-indigo-600);
}
.button:focus {
  box-shadow: var(--shadow-pr-btn-focus);
}

.button.button-square {
  width: 30px;
  height: 30px;
  padding: 0;
}
