.input {
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: var(--shadow-input);
  transition: all var(--base-transition);
}
.input:hover {
  box-shadow: var(--shadow-input-hover);
}
.input:focus {
  box-shadow: var(--shadow-input-focus);
}

.input-table {
  padding: 2px 4px;
  border-radius: 1px;
}
